lib
es
dist
public
.cache
.next
workspaces/box-office/index.js
workspaces/cli-tools/test-ipfs-http-client.js
workspaces/hush-hush/babel.config.js
workspaces/identity-service/index.js
workspaces/nameservice/index.js
workspaces/rendezvous/index.js
workspaces/service-tester/index.js
workspaces/idapp/__generated__/**
workspaces/idapp/__mocks__
workspaces/idapp/index.js
workspaces/idapp/metro.config.js
workspaces/idapp/babel.config.js
**/tools/build.js
